<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
% include('head.html', title='Home')
<body class="container">
    % include('nav.html', labels=['Home'], links=['/'])
    <h1>Your Awesome Website</h1>
    <div>
        <a class="btn btn-primary" href="/data">Data</a>
        <a class="btn btn-primary" href="/analytics">Analytics</a>
        <a class="btn btn-primary" href="/reviews">Reviews</a>

        % if submitted == True:
            <h2>Thank you for your feedback</h2>
        % else:
            <h2>What do you think of our site?!</h2>
            <form method="post">
                <p>Username: <input type="text" name="username" /></p>
                <p>Message: <input type="text" name="content" /></p>
                <p><input type="submit" value="Submit" /></p>
            </form>
        % end
    </div>
</body>
</html>